#!/bin/bash
sName="{{ cluster_name }}_{{ container_name }}"
HZ_ROOT="/opt/HZ"

JAVA_OPTS="-server -Xms1G -Xmx1G"

{% if logging_type == 'log4j2' %}
JAVA_OPTS="$JAVA_OPTS -Dlog4j.configurationFile=$HZ_ROOT/$sName/etc/log4j2.xml"
CLASSPATH="$CLASSPATH:$HZ_ROOT/commonlib/log4j-api.jar:$HZ_ROOT/commonlib/log4j-core.jar"
{% endif %}

{% if logging_type == 'jdk' %}
JAVA_OPTS="$JAVA_OPTS -Djava.util.logging.config.file=$HZ_ROOT/$sName/etc/jdk-logging.properties"
{% endif %}

# Additional startup logic
exec java $JAVA_OPTS -cp "$CLASSPATH" com.hazelcast.core.server.HazelcastServerRunner