<?xml version="1.0" encoding="UTF-8"?>
<!-- templates/log4j2.xml.j2 -->
<Configuration status="INFO">
    <Appenders>
        <RollingFile name="LogToRollingFile" 
                     fileName="/opt/HZ/diagnostics/diagnostics.log"
                     filePattern="/opt/HZ/diagnostics/diagnostics-%i.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p [%c{1}] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-5p [%c{1}] %m%n"/>
        </Console>
    </Appenders>
    
    <Loggers>
        <Logger name="com.hazelcast.diagnostics" level="debug" additivity="false">
            <AppenderRef ref="LogToRollingFile"/>
            <AppenderRef ref="Console"/>
        </Logger>
        
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
